<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">   {{  site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="240" /> <br>
        {% endif %}
        
        <p>{{ site.description | default: site.github.project_tagline }}

        <a href="https://www.linkedin.com/in/mqin/" ><i class="fab fa-fw fa-reddit" aria-hidden="true"></i><span> LinkedIn</span></a>


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=M43mMXEyo9n29UHnSDUT-wUosz1cCTbXBe7N_OuIqh0"></script>
        <p><small> &copy; Mian Qin | Last updated: July 2022 </a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
